@import "tailwindcss";

@theme {
  --color-light-blue: #2e6fa9;
  --color-deep-violet: #030233; 
  --color-lighter-violet: #121e57;
  --color-drab-grey: #727473; 
  --color-electric-lemongrass: #889406;
  --font-display: "PrevueGrid", "sans-serif";
  --font-heading: "Righteous", "sans-serif";
  --font-cursive: "Great Vibes", "cursive";
  --font-garamond: "EB Garamond", "serif";
}

html {
  background-color: var(--color-deep-violet);
}

@layer components {
  .dropshadow {
    text-shadow: 2px 2px rgba(0, 0, 0, 0.8)
  }

  .embossed {
    border-collapse: separate;
    border-left: 6px outset var(--color-drab-grey);
    border-top:10px outset var(--color-drab-grey);
    border-right: 5px outset var(--color-deep-violet);

    border-bottom: 5px outset var(--color-deep-violet)
  }

  .no-scrollbar {
    scrollbar-width: none;
  }

  .text-stroke {
    -webkit-text-stroke: 3px white;
  }
}


